<div class="col-4">
    <mat-form-field>
        <mat-label>Physics Model</mat-label>
        <mat-select [(value)]="dataStore.simulationData.physicsData" (valueChange)="selectType(dataStore.simulationData.physicsData.types[0])">
            @for (item of dataStore.physicsDataOptions; track $index) {
            <mat-option [value]="item">{{ item.name }}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button (click)="saveModel()" class="primary-button">save physics model</button>
</div>

<div class="col-8">
</div>
<div class="col-12">
    <button (click)="addType()" class="primary-button">add type</button>
    <button (click)="removeSelectedType()" [disabled]="dataStore.simulationData.physicsData.types.length <= 1"
        class="secondary-button">delete selected type</button>
</div>
<div class="col-2">
    @for (item of dataStore.simulationData.physicsData.types; track item) {
    <app-particle-type-card [selected]="item === selectedType" (click)="selectType(item)"
        [particleType]="item"></app-particle-type-card>
    }
</div>
<div class="col-2">
    @if(this.selectedType) {
    <app-particle-type [particleType]="selectedType" [physicsData]="dataStore.simulationData.physicsData"></app-particle-type>
    }
</div>