.force-matrix {
    input {
        width: 50px;
        padding: 0.25rem;
    }
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;

    .force-row {
        display: flex;
        align-items: center;

        .force-column {
            width: 100px;
            margin: 0.2rem;
        }
    }
}
