<!-- TYPE Config-->
<app-particle-type [simulationData]="this.data" (onDataChange)="onForcesChange.emit()"></app-particle-type>

<button mat-flat-button (click)="updateData()">Recreate Points</button>
<button mat-flat-button (click)="exportForces()">Export Forces</button>
<div>
    Import Forces
    <input type="file" (change)="importForces($event)" />
</div>
<div>
    Points:
    @for (typeEntry of this.data.types; track typeEntry) {
    <div>
        {{ typeEntry.name }}:
        <input [(ngModel)]="this.data.pointsPerType[$index]" step="1" min="1" max="5000" />
    </div>
    }
</div>
<div>
    <button mat-button (click)="randomForces()"> Make it Random </button>
    Multiply all forces:
    <button mat-button (click)="multiplyForces(2)"> *2 </button>
    <button mat-button (click)="multiplyForces(0.5)"> 1/2 </button>
</div>