.particle-circle {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 1rem;
    display: inline-block;
}

.structure-icon {
    width: 0.75rem;
    height: 0.75rem;
    display: inline-block;
    text-align: center;
    line-height: 0.75rem;
    color: var(--text-color);
}

p-chip.selected {
    background-color: var(--p-emerald-200);
}
