.brush-circle {
  position: fixed;
  background: none;
  border: dashed yellow 1px;
  display: block;
  border-radius: 50%;
  pointer-events: none;
}
.brush-menu {
  left: 0;
  top: 0;
  background: black;
  display: block;
  position: absolute;
  width: auto;
  height: auto;
}