<div class="brush-container" *ngIf="isMouseOnCanvas && (brush.state === BrushState.Paint || brush.state === BrushState.Select)">
  <div 
    class="brush-circle" 
    [class.brush-paint]="brush.state === BrushState.Paint"
    [class.brush-select]="brush.state === BrushState.Select"
    [style.left.px]="brush.x" 
    [style.top.px]="brush.y"
    [style.width.px]="brush.radius * 2"
    [style.height.px]="brush.radius * 2"
    [style.margin-left.px]="-brush.radius"
    [style.margin-top.px]="-brush.radius">
  </div>
  <div 
    class="brush-click-area" 
    [style.left.px]="brush.x" 
    [style.top.px]="brush.y"
    [style.width.px]="brush.radius * 2"
    [style.height.px]="brush.radius * 2"
    [style.margin-left.px]="-brush.radius"
    [style.margin-top.px]="-brush.radius">
  </div>
</div>