@use '../../../themes/main-theme' as theme;
.particle-type-card {
    cursor: pointer;
}
.particle-type-card:hover {
    background-color: theme.$card-hover-color;
}
.particle-type-card-selected {
    background-color: theme.$card-selected-color;
}