


<div class="side-card card">
    <h1>World creator</h1>
    <p>create a new world</p>
    <mat-form-field>
        <mat-label>Points per type:</mat-label>
        <input matInput [(ngModel)]="pointNumber" />
    </mat-form-field>
    <button (click)="createRandomWorld()" class="primary-button">create random world</button>
    <button (click)="createEmptyWorld()" class="secondary-button">create empty world</button>

    <app-controls [data]="dataStore.simulationData.physicsData"></app-controls>
</div>
<app-physics class="side-card-right card"></app-physics>

<app-scene [canvasHeight]="canvasHeight" [canvasWidth]="canvasWidth" [physicsData]="dataStore.simulationData.physicsData" [points]="dataStore.simulationData.points"></app-scene>
    
