<header>
    <div class="main-header">
        <div class="header-side">Particle Simulator</div>
        <nav>
            <button (click)="switchPage(pageEnum.SIMULATION)">Simulation</button>
            <button (click)="switchPage(pageEnum.PHYSICS)">Physics</button>
            <button (click)="switchPage(pageEnum.MOLECULES)">Molecules</button>
        </nav>
        <div class="header-side">O</div>
    </div>
    <div class="sub-header">
        @if (page === pageEnum.SIMULATION) {
            simulation
        } 
        @if (page === pageEnum.PHYSICS) {
            physics
        } 
        @if (page === pageEnum.MOLECULES) {
            molecules
        } 
    </div>
</header>

@if (page === pageEnum.SIMULATION) {
    <app-simulation [physicsData]="physicsData"></app-simulation>
} 
@if (page === pageEnum.PHYSICS) {
    <app-physics [physicsData]="physicsData"></app-physics>
} 
@if (page === pageEnum.MOLECULES) {
    <app-molecules [physicsData]="physicsData"></app-molecules>
} 

<footer>
</footer>