<header>
    <div class="main-header">
        <div>LOGO</div>
        <nav>
            <button (click)="switchPage(pageEnum.SIMULATION)">Simulation</button>
            <button (click)="switchPage(pageEnum.PHYSICS)">Physics</button>
            <button (click)="switchPage(pageEnum.MOLECULES)">Molecules</button>
        </nav>
        <div>ANOTHER LOGO</div>
    </div>
    <div class="sub-header">
        sub
    </div>
</header>

@if (page === pageEnum.SIMULATION) {
    <app-simulation [simulationData]="simulationData"></app-simulation>
} 
@if (page === pageEnum.PHYSICS) {
    <app-physics></app-physics>
} 
@if (page === pageEnum.MOLECULES) {
    <app-molecules></app-molecules>
} 

<footer>
    <div>IMPRESSUM</div>
    <div>OTHERS</div>
</footer>