@import '../themes/main-theme.scss';

header,
footer {
    background: linear-gradient(to right, #1f2125, #1f2934, #14181e);
}

header {
    box-shadow: $box-shadow;
    margin: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.main-header {
    margin: auto;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-side {
        width: 150px;
    }
}

.sub-header {
    display: flex;
    justify-content: center;
    background: rgba(122, 150, 169, 0.03);
    padding: 0.5rem 1.5rem;
    border: solid rgb(255, 255, 255, 0.1) 0.1px;
    text-transform: uppercase;
}