@use '../../../themes/main-theme' as theme;

.particle-edit {
  display: flex;
  flex-direction: column;
  align-items: center;

  .label {
    width: 100px;
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 0.5rem;
    }
  }

  input {
    margin-left: 0.5rem;
    width: 50px;
  }

  input.circle-name {
    width: 300px;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0.5rem;
  }

  .circle-attribute {
    display: flex;
    margin-top: 0.5rem;
  }
}

// ATOM Structure
.particle-container {
  position: relative;
  height: 525px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  background-color: #3498db;
  outline: 5px solid theme.$dark-grey;
  outline-offset: -8px;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: theme.$box-shadow;
}

.circle-inner {
  width: 50px;
  height: 50px;
}

.circle-radius {
  position: absolute;
  background: none;
  border: dashed white 3px;
  border-radius: 50%;
  z-index: -100;
}

.orbit {
  position: absolute;
}

.line {
  position: absolute;
  height: 2px;
  background-color: white;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.force-input {
  text-align: center;
  position: absolute;
  height: 20px;
  border: solid 2px white;
}

.circle-name {
  font-weight: bold;
  color: black;
  padding: 0.1rem 0.5rem;
  font-size: 0.75rem;
  text-align: center;
}


// Base styles
.success {
  color: theme.$success;
  border-color: theme.$success;
}

.error {
  color: theme.$error;
  border-color: theme.$error;
}

.success-background {
  background-color: theme.$success;
}

.error-background {
  background-color: theme.$error;
}