<mat-card>
    <mat-card-header>
        <div>{{ particleType.name }}</div>
    </mat-card-header>
    <mat-card-content class="particle-type-card">
        <div class="left-particle">
            <div class="input-pair">
                <div class="attribute">
                    Radius:
                </div>
                <div class="attribute-value">
                    <input type="number" step="1" [(ngModel)]="particleType.radius" matInput placeholder="radius ..."
                        (ngModelChange)="onValueChange($event)" />
                </div>
            </div>
            <div class="input-pair">
                <div class="attribute">
                    Mass:
                </div>
                <div class="attribute-value">
                    <input type="number" step="0.1" [(ngModel)]="particleType.mass" matInput placeholder="mass ..."
                        (ngModelChange)="onValueChange($event)" />
                </div>
            </div>
        </div>
        <div class="right-particle">
            <div class="particle-circle">
                <div class="particle-circle-outer"></div>
                <div class="particle-circle-inner" [style.width.px]="particleType.size * 2"
                    [style.height.px]="particleType.size * 2" [style.backgroundColor]="getParticleColor()"
                    [style.left.px]="30 - particleType.size" [style.top.px]="30 - particleType.size"></div>
            </div>
            <mat-slider step="1" min="5" max="30" showTickMarks discrete>
                <input [(ngModel)]="particleType.size" matSliderThumb (ngModelChange)="onValueChange($event)">
            </mat-slider>
        </div>
    </mat-card-content>
</mat-card>