<div class="container">
    <div class="circle" [style.width]="getCircleRadius(particleType) + 'px'"
        [style.height]="getCircleRadius(particleType) + 'px'" [style.backgroundColor]="getParticleColor(particleType)">
        <div class="circle-name">{{particleType.name}}</div>
        <div class="circle-inputs">
            <div class="circle-attribute">mass: <input [(ngModel)]="particleType.mass" /></div>
            <div class="circle-attribute">radius: <input [(ngModel)]="particleType.radius" /></div>
        </div>
    </div>

    @for (item of physicsData.types; track $index) {
    <div class="orbit" [style.left]="getOrbitStyle($index, item).left" [style.top]="getOrbitStyle($index, item).top">
        <div class="circle" [style.width]="getCircleRadius(item) + 'px'" [style.height]="getCircleRadius(item) + 'px'"
            [style.backgroundColor]="getParticleColor(item)">
            <div class="circle-name">{{item.name}}</div>
        </div>
    </div>
    <div class="line" [class.success-background]="physicsData.forces[getTypeIndex(particleType)][$index] > 0"
        [class.error-background]="physicsData.forces[getTypeIndex(particleType)][$index] < 0"
        [style.transform]="getLine($index).transform" [style.width]="getLine($index).length + 'px'"
        [style.transform-origin]="'0 0'">

        <input type="number" step="0.1" max="10" min="-10" [style.transform]="getLine($index).inputRotate"
            [class.success]="physicsData.forces[getTypeIndex(particleType)][$index] > 0"
            [class.error]="physicsData.forces[getTypeIndex(particleType)][$index] < 0" class="force-input"
            [(ngModel)]="physicsData.forces[getTypeIndex(particleType)][$index]" />
    </div>
    }

    <div class="circle-radius" [style.width]="orbitRadius * 2 + 'px'" [style.height]="orbitRadius * 2 + 'px'"></div>
</div>