<p-tabs value="0" (onChange)="onTabChange($event)">
    <p-tablist>
        <p-tab value="0">Scene</p-tab>
        <p-tab value="1">Particles</p-tab>
        <p-tab value="2">Physics</p-tab>
        <p-tab value="3">Structures</p-tab>
        <p-tab value="4">Edit</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <div class="flex align-items-center gap-3">
                <p-button severity="info" (click)="createRandomWorld()">recreate world</p-button>
                <p-button severity="warn" (click)="createRandomWorldWithRandomPhysics()">create random</p-button>
                <div class="flex flex-column gap-1">
                    <div class="slider-input-row">
                        <label>Points:</label>
                        <p-inputnumber class="compact-input" [(ngModel)]="pointNumber" [min]="0" [max]="10000" [step]="1" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" size="small"/>
                    </div>
                    <p-slider class="compact-slider" [step]="1" [(ngModel)]="pointNumber" [min]="0" [max]="10000"/>
                </div>
            </div>

            <div class="mt-4 flex align-items-center gap-2">
                <p-button (click)="saveSimulation()" icon="pi pi-save" label="save"></p-button>
                <p-fileUpload
                        mode="basic"
                        name="file"
                        accept=".json"
                        chooseIcon="pi pi-upload"
                        chooseLabel="load"
                        auto="true"
                        (onSelect)="selectScene($event)">
                </p-fileUpload>
                <p-select
                    [options]="presetOptions"
                    [(ngModel)]="selectedPreset"
                    placeholder="Load preset..."
                    (onChange)="loadPreset($event.value)"
                    [style]="{'min-width': '180px'}"
                    appendTo="body">
                </p-select>
                <div class="flex align-items-center gap-2">
                    <p-toggleswitch [(ngModel)]="is3D" (onChange)="onDimensionToggleChange()"></p-toggleswitch>
                    <span>3D</span>
                </div>
            </div>

        </p-tabpanel>
        <p-tabpanel value="1">
            <button pButton (click)="randomParticleValues()" severity="info" class="mr-2">
                <i class="pi pi-question-circle"></i>
                randomize
            </button>
            <button pButton (click)="addType()">
                <i class="pi pi-plus-circle"></i>
                add type
            </button>

            @for (item of dataStore.simulationData.physicsData.types; track item) {
                <p-fieldset [toggleable]="true" [collapsed]="true" class="flex mt-2">
                    <ng-template #header>
                        <div class="flex items-center gap-2 px-2">
                            <div class="particle-circle"
                                 [style]="'background-color: rgb(' + item.color.r +  ',' + item.color.g + ', ' + item.color.b + ');'"></div>
                            <span class="font-bold">{{ item.name }}</span>
                        </div>
                    </ng-template>
                    <p-colorpicker (onChange)="updatePhysics()" [(ngModel)]="item.color" format="rgb" class="mr-2"/>
                    <input class="mr-2" type="text" pInputText [(ngModel)]="item.name" placeholder="name"/>
                    <button pButton severity="danger" (click)="deleteType($index)">
                        <i class="pi pi-times"></i>
                    </button>
                    <div class="slider-input-row mt-2">
                        <label>size:</label>
                        <p-inputnumber class="compact-input" (ngModelChange)="updatePhysics()" [(ngModel)]="item.size" [step]="0.01" [min]="LIMITS.MIN_SIZE" [max]="LIMITS.MAX_SIZE" [minFractionDigits]="2" [maxFractionDigits]="2" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" size="small"/>
                        <p-slider class="compact-slider" (onChange)="updatePhysics()" [(ngModel)]="item.size" [step]="0.01" [min]="LIMITS.MIN_SIZE" [max]="LIMITS.MAX_SIZE"/>
                    </div>
                    <div class="slider-input-row mt-2">
                        <label>radius:</label>
                        <p-inputnumber class="compact-input" (ngModelChange)="updatePhysics()" [(ngModel)]="item.radius" [step]="0.01" [min]="0" [max]="LIMITS.MAX_RADIUS" [minFractionDigits]="2" [maxFractionDigits]="2" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" size="small"/>
                        <p-slider class="compact-slider" (onChange)="updatePhysics()" [(ngModel)]="item.radius" [step]="0.01" [min]="0" [max]="LIMITS.MAX_RADIUS"/>
                    </div>
                    <div class="slider-input-row mt-2">
                        <label>mass:</label>
                        <p-inputnumber class="compact-input" (ngModelChange)="updatePhysics()" [(ngModel)]="item.mass" [step]="0.001" [min]="0" [max]="LIMITS.MAX_MASS" [minFractionDigits]="3" [maxFractionDigits]="3" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" size="small"/>
                        <p-slider class="compact-slider" (onChange)="updatePhysics()" [(ngModel)]="item.mass" [step]="0.001" [min]="0" [max]="LIMITS.MAX_MASS"/>
                    </div>
                </p-fieldset>
            }
        </p-tabpanel>
        <p-tabpanel value="2">
            <div class="flex gap-2">
                <p-button severity="info" (click)="resetForces()">reset forces</p-button>
                <button pButton (click)="randomForces()" severity="info">
                    <i class="pi pi-question-circle"></i>
                    randomize
                </button>
            </div>

            <div class="flex gap-3 mt-3">
                <div class="flex flex-column gap-1 flex-1">
                    <div class="slider-input-row">
                        <label>Gravity Constant:</label>
                        <p-inputnumber class="compact-input" (ngModelChange)="updatePhysics()" [(ngModel)]="dataStore.simulationData.physicsData.gravityConstant" [step]="0.001" [min]="0" [max]="LIMITS.MAX_GRAVITY" [minFractionDigits]="4" [maxFractionDigits]="6" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" size="small"/>
                    </div>
                </div>

                <div class="flex flex-column gap-1 flex-1">
                    <div class="slider-input-row">
                        <label>Attraction:</label>
                        <p-inputnumber class="compact-input" (ngModelChange)="updatePhysics()" [(ngModel)]="dataStore.simulationData.physicsData.attractionConstant" [step]="0.01" [min]="0" [max]="LIMITS.MAX_ATTRACTION" [minFractionDigits]="2" [maxFractionDigits]="4" [showButtons]="true" buttonLayout="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" size="small"/>
                    </div>
                </div>
            </div>

            <p-table [scrollable]="true" [columns]="dataStore.simulationData.physicsData.types"
                     size="small"
                     [value]="dataStore.simulationData.physicsData.types" class="mt-8">
                <ng-template #header let-columns>
                    <tr>
                        <th pFrozenColumn>-</th>
                        @for (itemA of dataStore.simulationData.physicsData.types; track itemA) {
                            <th>
                                <div class="particle-circle"
                                     [title]="itemA.name"
                                     [style]="'margin: auto; background-color: rgb(' + itemA.color.r +  ',' + itemA.color.g + ', ' + itemA.color.b + ');'">
                                </div>
                            </th>
                        }
                    </tr>
                </ng-template>
                <ng-template #body let-itemA let-outerIndex="rowIndex">
                    <tr>
                        <td pFrozenColumn>
                            <div class="flex align-items-center align-center">
                                <div class="particle-circle mr-2"
                                     [style]="'background-color: rgb(' + itemA.color.r +  ',' + itemA.color.g + ', ' + itemA.color.b + ');'"></div>
                            </div>
                        </td>
                        @for (itemB of dataStore.simulationData.physicsData.types; track itemB; let innerIndex = $index) {
                            <td style="text-align: center">
                                <div class="force-cell">
                                    <div class="flex" [style]="'position: relative; top: -0.2rem; width: 100%;'">
                                        <div class="particle-circle"
                                             [title]="itemB.name"
                                             [style]="'margin: auto; background-color: rgb(' + itemB.color.r +  ',' + itemB.color.g + ', ' + itemB.color.b + ');'">
                                        </div>
                                        <i class="pi pi-arrow-right" style="font-size: 0.5rem"></i>
                                        <div class="particle-circle"
                                             [title]="itemA.name"
                                             [style]="'margin: auto; background-color: rgb(' + itemA.color.r +  ',' + itemA.color.g + ', ' + itemA.color.b + ');'">
                                        </div>
                                    </div>
                                    <p-inputnumber
                                        [inputStyle]="{'width': '60px', 'text-align': 'center', 'color': this.dataStore.simulationData.physicsData.forces[innerIndex][outerIndex] < 0 ? 'var(--p-red-600)' : 'var(--p-focus-ring-color)'}"
                                        [title]="this.dataStore.simulationData.physicsData.forces[innerIndex][outerIndex] + ' (' + itemA.name + '/' + itemB.name +')'"
                                        (ngModelChange)="updatePhysics()"
                                        [(ngModel)]="this.dataStore.simulationData.physicsData.forces[innerIndex][outerIndex]"
                                        [step]="0.01"
                                        [minFractionDigits]="2"
                                        [maxFractionDigits]="3"
                                        [inputStyle]="{'width': '42px', 'text-align': 'center', 'font-size': '0.7rem', 'padding': '0.15rem 0.1rem', 'color': this.dataStore.simulationData.physicsData.forces[innerIndex][outerIndex] < 0 ? 'var(--p-red-600)' : 'var(--p-focus-ring-color)'}"
                                        [max]="LIMITS.MAX_FORCE"
                                        [showButtons]="true"
                                        buttonLayout="horizontal"
                                        incrementButtonIcon="pi pi-plus"
                                        decrementButtonIcon="pi pi-minus"
                                        size="small"
                                    />
                                    <p-slider
                                        class="force-slider"
                                        (onChange)="updatePhysics()"
                                        [(ngModel)]="this.dataStore.simulationData.physicsData.forces[innerIndex][outerIndex]"
                                        [step]="0.01"
                                        [min]="-LIMITS.MAX_FORCE"
                                        [max]="LIMITS.MAX_FORCE"
                                    />
                                </div>
                            </td>
                        }
                    </tr>
                </ng-template>
            </p-table>
        </p-tabpanel>
        <p-tabpanel value="3">
            <div class="mb-3">
                <small class="text-gray-500">Select points using the Select brush mode in the Edit tab, then save them as a reusable structure.</small>
            </div>

            @for (item of dataStore.simulationData.structures; track item; let index = $index) {
                <p-fieldset [toggleable]="true" [collapsed]="true" class="flex mt-2">
                    <ng-template #header>
                        <div class="flex items-center gap-2 px-2">
                            <div class="structure-icon">
                                <i class="pi pi-sitemap"></i>
                            </div>
                            <span class="font-bold">{{ item.name }}</span>
                            <span class="text-gray-500">({{ item.points.length }} points)</span>
                        </div>
                    </ng-template>
                    <div class="flex align-items-center gap-2 px-2">
                        <input class="mr-2" type="text" pInputText [(ngModel)]="item.name" placeholder="name"/>
                        <button pButton severity="danger" (click)="deleteStructure(index)">
                            <i class="pi pi-times"></i>
                        </button>
                    </div>
                </p-fieldset>
            }
        </p-tabpanel>
        <p-tabpanel value="4">
            <app-simulation-edit [scene]="scene" [brush]="brush" (onSaveStructure)="openSaveStructureDialog()"></app-simulation-edit>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>

<p-dialog header="Save Structure" [(visible)]="showSaveDialog" [modal]="true" [style]="{'width': '400px'}">
    <div class="flex flex-column gap-3">
        <div class="flex flex-column gap-1">
            <label for="structureName">Structure Name</label>
            <input id="structureName" type="text" pInputText [(ngModel)]="structureName" placeholder="Enter structure name"/>
        </div>
    </div>
    <ng-template #footer>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="cancelSaveStructure()" icon="pi pi-times"></p-button>
            <p-button label="Save" (click)="saveSelectedPointsAsStructure()" icon="pi pi-check"></p-button>
        </div>
    </ng-template>
</p-dialog>
