<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Scene</p-tab>
        <p-tab value="1">Physcis</p-tab>
        <p-tab value="2">Edit</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <h1>Scene</h1>

            <p-button (click)="createRandomWorld()">create random world</p-button>
            <p-floatlabel variant="in" class="mb-4 mt-2">
                <p-inputnumber inputId="points" [(ngModel)]="pointNumber" [min]="0" [max]="1000"/>
                <label>Points</label>
            </p-floatlabel>
            <p-slider [step]="1" [(ngModel)]="pointNumber" [min]="0" [max]="1000"/>


            <div class="mt-4 flex align-items-center">
                <p-button (click)="saveSimulation()" class="mr-2"> save simulation</p-button>
                <p-fileUpload
                        mode="basic"
                        name="file"
                        accept=".json"
                        chooseIcon="pi pi-upload"
                        chooseLabel="load simulation"
                        auto="true"
                        (onSelect)="selectScene($event)">
                </p-fileUpload>
            </div>

        </p-tabpanel>
        <p-tabpanel value="1">
            <h1>Physics</h1>

            <p-button (click)="randomForces()">randomize</p-button>
            <p-button (click)="multiplyForces(2)"> multiply forces</p-button>
            <p-button (click)="multiplyForces(0.5)"> devide forces</p-button>

            <p-button (click)="addType()">add type</p-button>
            <p-button (click)="removeSelectedType()"
                      [disabled]="dataStore.simulationData.physicsData.types.length <= 1">
                delete selected type
            </p-button>

            <div>
                @for (item of dataStore.simulationData.physicsData.types; track item) {
                    <p-chip [label]="item.name" (click)="selectType(item)"
                            [class.selected]="item === selectedType"></p-chip>
                }
            </div>
        </p-tabpanel>
        <p-tabpanel value="2">
            <h1>Edit</h1>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>