@use '../../../themes/main-theme' as theme;

:host {
  position: absolute;
  bottom: 0;
  max-width: 50%;
  width: 500px;
  max-height: 100%;
  overflow: scroll;
}

.particle-circle {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 1rem;
}

p-chip.selected {
  background-color: var(--p-emerald-200);
}